@use './index' as *;

.chatHeader-container {
    width: 100%;
    @include flex;
    justify-content: flex-start;
    border-top: none;
    border-bottom: 1px solid var(--base);
    border-left: none;
    border-right: none;
    padding: 0.5em 0.5em 0.5em 2.5em;
    gap: 1.5em;

    & > img {
        width: clamp(40px, 6vh, 50px);
        border-radius: 50%;
    }
}