@use './index' as *;

.chat-container {
    height: 100vh;
    width: 100%;
    padding-top: 7vh;
    background-color: var(--secondary);
    color: var(--primary);
    @include flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.6rem;
}