@use './index' as *;

.welcome-container {
    height: 100vh;
    width: 100%;
    background-color: var(--secondary);
    color: var(--primary);
    @include flex;
    flex-direction: column;
    gap: 0.6rem;

    h1 {
        font-size: clamp(1.2rem, 8vw, 2.3rem);
        font-weight: 600;
    }

    h3 {
        font-size: clamp(1rem, 5vw, 1.2rem);
        font-weight: 400;
        color: var(--neutral);
    }
}
