@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// $primary : rgb(19, 19, 161);
// $bg : #1E232B;
// $main-text: #F6F1F4;
// $accent: #951bff;
// $accent-light: #7d4afc;
// $accent-dark: #531ace;
// $ui-bg:#000033;


:root {
  //font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: var(--primary);
  --secondary: var(--secondary);
  --accent: var(--accent);
  --neutral: var(--neutral);
  --base: var(--base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    transition: all 0.2s ease-in-out;
  }
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;  
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'small' {
    @media (max-width: 600px) {
      @content;
    }
  }
  @else if $breakpoint == 'medium' {
    @media (max-width: 900px) {
      @content;
    }
  }
  @else if $breakpoint == 'large' {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html,body {
    height: 100vh;
    width: 100%;
    background-color: var(--secondary) ;
    color: var(--primary);
}


