// Importing variables and mixins
@use "./index" as *;

// Global Styles
.profile-page-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--secondary);
}

// Profile Container Styles
.profile-container {
  min-height: 80vh;
  border: 1.5px solid var(--primary);
  border-radius: 15px;
  background-color: var(--base);

  .profile-detailes {
    background: var(--base);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    .profile-camera {
        @include flex;
        justify-content: flex-end;
        padding: 0.5em 1em 0em 0em;
        cursor: pointer;
        transition: all 200ms;

        &:hover {
          color: var(--accent);
        }

        & > input {
          display: none; 
        }
      }

      .animate-pulse {
        animation: pulse 2s infinite;
        pointer-events: none;
      }
      
      @keyframes pulse {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }



    .profile-user-detailes {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      @include flex;
      flex-direction: column;
      padding: 4em 1em;
      gap: 1rem;

      // Responsive Styles
      @include respond-to('medium') {
        padding: 3em 1em 1em 1em;
      }
      @include respond-to('small') {
        padding: 2em 0.5em 0.5em 0.5em;
      }

      .profile-name {
        font-size: 1.5rem;
        font-weight: 600;
        gap: 1em;
        

        label {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          span {
            padding: 0.5rem;
            font-size: 0.8em;
            font-weight: 400;
            color: var(--primary);
          }
        }

        p {
          @include flex;
          justify-content: flex-start;
          gap: 0.5em;
          color: var(--primary);
          border: 1px solid var(--accent);
          width: clamp(18rem, 26rem, 28rem);
          padding: 0.5em 0.5em 0.5em 1em;
          border-radius: 10px;


          // Responsive Styles
          @include respond-to('medium') {
            width: 18rem;
          }
          @include respond-to('small') {
            width: 15rem;
          }
        }
      }

      .profile-email {
        font-size: 1.5rem;
        font-weight: 600;
        gap: 1em;

        label {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          span {
            padding: 0.5rem;
            font-size: 0.8em;
            font-weight: 400;
            color: var(--primary);
          }
        }

        p {
          @include flex;
          justify-content: flex-start;
          gap: 0.5em;
          border: 1px solid var(--accent);
          width: clamp(18rem, 26rem, 28rem);
          padding: 0.5em 0.5em 0.5em 1em;
          border-radius: 10px;
          color: var(--primary);

          // Responsive Styles
          @include respond-to('medium') {
            width: 18rem;
          }
          @include respond-to('small') {
            width: 15rem;
          }
        }
      }
    }

    .account-info {
      padding: 2em;

      // Responsive Styles
      @include respond-to('medium') {
        padding: 1em;
      }
      @include respond-to('small') {
        padding: 0.5em;
      }

      .account-status {
        @include flex;
        justify-content: space-between;
        gap: 1em;
        padding: 0.6em 0em;

        label {
          font-size: 1.2rem;
          font-weight: 500;
          color: var(--primary);
        }

        p {
          font-size: 1rem;
          font-weight: 500;
        }
      }

      .account-member {
        @include flex;
        justify-content: space-between;
        gap: 1em;
        padding: 0.6em 0em;

        label {
          font-size: 1.2rem;
          font-weight: 500;
          color: var(--primary);
        }

        p {
          font-size: 1rem;
          font-weight: 500;
          color: var(--primary);
        }
      }
    }
  }
}