@use "./index"as *;

.signup-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary);

    .form-container {
        text-align: center;
        height: auto;
        width: clamp(300px, 23%, 400px);
        display: flex;
        border: 1px solid lightgray;
        border-radius: 12px;
        flex-direction: column;
        padding: clamp(1em, 2vw, 2em);


        & > h1 {
            text-align: center;
            font-size: clamp(1.5em, 2vw, 2.5em);
            color: var(--primary);
            font-weight: 600;
        }

        & > p {
            margin-top: 0.5em;
            font-size: 1em;
            color: var(--neutral);
            font-weight: 600;
        }

        label {
            width: 100%;
            text-align: left;
            color: var(--primary);
            font-size: 1em;
            font-weight: 500;
            margin-top: 1.5em;
        }
        .form-item {
            border: 0.6px solid var(--neutral);
            border-radius: 5px;
            box-shadow: none;
            height: 3rem;
            display: flex;
            align-items: center;
            gap: 1em;
            padding-left: 1em;
            margin-top: 0.5em;
            padding: 20px 20px;
            border: 1px solid var(--neutral); /* Soft gray border */
            border-radius: 5px;         /* Rounded corners */
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 

            &:focus {
            border: 1px solid var(--neutral);
            }
        }

        .form-item > input {
            outline: none;
            border: none;
            background-color: var(--secondary);
            font-size: 1em;
            width: calc(100% - 2em);
            color: var(--neutral);
            
            & > :focus {
            color: white;
            }
        }

        .form-item svg {
            min-height: 20px;
            min-width: 20px;
        }

        .submit-btn {
            padding: 1.1em 3em;
            font-size: 1em;
            text-transform: capitalize;
            border-radius: 5px;
            background: var(--accent);
            color: var(--primary);
            border: none;
            margin-top: 2em;
            margin-bottom: 1em;
        }

        .showpassword-btn {
            background: transparent;
            border: none;
            transition: all 1s;
        }

        & > p > a {
           
            text-decoration: none;
            margin-left: 2px;
            color: var(--accent);
        }
    }
}


